@{
    ViewData["title"] = "Lojas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section  styles{ 

}

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-3 btnPadrao">
            <button class="btn btn-success">Nova Loja</button>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/lojaTodas.js"></script>

}
